## Question 1

In [7]:
spark.version

'3.3.2'

In [1]:
import pyspark

In [2]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/04 23:17:50 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

## Question 2:
HVFHW June 2021

- Read it with Spark using the same schema as we did in the lessons.
- We will use this dataset for all the remaining questions.
- Repartition it to 12 partitions and save it to parquet.

What is the average size of the Parquet (ending with .parquet extension) Files that were created (in MB)? Select the answer which most closely matches.

In [12]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz

--2023-03-04 02:30:13--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz
Resolving github.com (github.com)... 192.30.255.113
Connecting to github.com (github.com)|192.30.255.113|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230304%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230304T023014Z&X-Amz-Expires=300&X-Amz-Signature=3a1bb97d3800edf76c58cd57ad8ab2d499eda108dd8f0cd5c6e78ab9040aa9ac&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-03-04 02:30:14--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230304%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230304T023014Z&X-Amz-Expires=300&X-Amz-Signature=3a1bb97d3800edf76c58cd57ad8ab2d499eda108dd8f0cd5c6e78ab9040aa9ac&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 175799316 (168M) [application/octet-stream]
Saving to: ‘fhvhv_tripdata_2021-06.csv.gz’

fhvhv_tripdata_2021 100%[===================>] 167.66M  13.6MB/s    in 14s

2023-03-04 02:30:28 (12.3 MB/s) - ‘fhvhv_tripdata_2021-06.csv.gz’ saved [175799316/175799316]

In [13]:
!wc -l fhvhv_tripdata_2021-06.csv.gz

651315 fhvhv_tripdata_2021-06.csv.gz

In [14]:
df = spark.read \
    .option("header", "true") \
    .csv('fhvhv_tripdata_2021-06.csv.gz')

In [15]:
!gzip -d fhvhv_tripdata_2021-06.csv.gz

In [13]:
from pyspark.sql import types

In [14]:
schema = types.StructType(
    [
        types.StructField('hvfhs_license_num', types.StringType(), True),
        #types.StructField('dispatching_base_num', types.StringType(), True),
        types.StructField('pickup_datetime', types.TimestampType(), True),
        types.StructField('dropoff_datetime', types.TimestampType(), True),
        types.StructField('PULocationID', types.IntegerType(), True),
        types.StructField('DOLocationID', types.IntegerType(), True),
        types.StructField('SR_Flag', types.StringType(), True)
    ]
)

With this new schema, we can now create a dataframe with inferred datatypes.

In [15]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhvhv_tripdata_2021-06.csv')

In [16]:
df.show()

23/03/04 23:42:45 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 7, schema size: 6
CSV file: file:///home/pastor/de_zoomcamp/05-batch_processing/fhvhv_tripdata_2021-06.csv
+-----------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+-------------------+-------------------+------------+------------+-------+
|           B02764|2021-06-01 00:02:41|2021-06-01 00:07:46|         174|          18|      N|
|           B02764|2021-06-01 00:16:16|2021-06-01 00:21:14|          32|         254|      N|
|           B02764|2021-06-01 00:27:01|2021-06-01 00:42:11|         240|         127|      N|
|           B02764|2021-06-01 00:46:08|2021-06-01 00:53:45|         127|         235|      N|
|           B02510|2021-06-01 00:45:42|2021-06-01 01:03:33|         144|         146|      N|
|           B02510|2021-06-01 00:18:15|2021-06-01 00:25:47|          49|          17|      N|
|           B02510|2021-06-01 00:33:06|2021-06-01 00:42:46|          49|         225|      N|
|           B02510|2021-06-01 00:46:27|2021-06-01 00:56:50|         225|         177|      N|
|           B02764|2021-06-01 00:48:06|2021-06-01 01:04:10|         209|          45|      N|
|           B02875|2021-06-01 00:18:54|2021-06-01 00:26:14|          80|         256|      N|
|           B02875|2021-06-01 00:31:02|2021-06-01 00:36:39|         217|          17|      N|
|           B02875|2021-06-01 00:41:53|2021-06-01 01:07:32|          17|         265|      N|
|           B02875|2021-06-01 00:29:52|2021-06-01 00:54:41|         210|          76|      N|
|           B02510|2021-06-01 00:15:57|2021-06-01 00:39:36|         226|         213|      N|
|           B02510|2021-06-01 00:11:59|2021-06-01 00:23:32|         191|           9|      N|
|           B02510|2021-06-01 00:30:35|2021-06-01 00:45:35|          16|         250|      N|
|           B02510|2021-06-01 00:49:01|2021-06-01 01:03:50|         182|         259|      N|
|           B02510|2021-06-01 00:07:36|2021-06-01 00:21:13|         188|          72|      N|
|           B02510|2021-06-01 00:25:48|2021-06-01 00:40:43|          39|          72|      N|
|           B02510|2021-06-01 00:46:11|2021-06-01 00:53:39|          72|          35|      N|
+-----------------+-------------------+-------------------+------------+------------+-------+
only showing top 20 rows

In [17]:
df = df.repartition(12).write.parquet('fhvhv/2021/06/', mode='overwrite')

23/03/04 23:42:57 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 7, schema size: 6
CSV file: file:///home/pastor/de_zoomcamp/05-batch_processing/fhvhv_tripdata_2021-06.csv

In [18]:
!ls -lh fhvhv/2021/06/

total 261M
-rw-r--r-- 1 pastor pastor   0 Mar  4 23:43 _SUCCESS
-rw-r--r-- 1 pastor pastor 22M Mar  4 23:43 part-00000-80595991-3c06-4e74-841c-db2ad8b2f2f7-c000.snappy.parquet
-rw-r--r-- 1 pastor pastor 22M Mar  4 23:43 part-00001-80595991-3c06-4e74-841c-db2ad8b2f2f7-c000.snappy.parquet
-rw-r--r-- 1 pastor pastor 22M Mar  4 23:43 part-00002-80595991-3c06-4e74-841c-db2ad8b2f2f7-c000.snappy.parquet
-rw-r--r-- 1 pastor pastor 22M Mar  4 23:43 part-00003-80595991-3c06-4e74-841c-db2ad8b2f2f7-c000.snappy.parquet
-rw-r--r-- 1 pastor pastor 22M Mar  4 23:43 part-00004-80595991-3c06-4e74-841c-db2ad8b2f2f7-c000.snappy.parquet
-rw-r--r-- 1 pastor pastor 22M Mar  4 23:43 part-00005-80595991-3c06-4e74-841c-db2ad8b2f2f7-c000.snappy.parquet
-rw-r--r-- 1 pastor pastor 22M Mar  4 23:43 part-00006-80595991-3c06-4e74-841c-db2ad8b2f2f7-c000.snappy.parquet
-rw-r--r-- 1 pastor pastor 22M Mar  4 23:43 part-00007-80595991-3c06-4e74-841c-db2ad8b2f2f7-c000.snappy.parquet
-rw-r--r-- 1 pastor pastor 22M Mar  4 23:43 part-00008-80595991-3c06-4e74-841c-db2ad8b2f2f7-c000.snappy.parquet
-rw-r--r-- 1 pastor pastor 22M Mar  4 23:43 part-00009-80595991-3c06-4e74-841c-db2ad8b2f2f7-c000.snappy.parquet
-rw-r--r-- 1 pastor pastor 22M Mar  4 23:43 part-00010-80595991-3c06-4e74-841c-db2ad8b2f2f7-c000.snappy.parquet
-rw-r--r-- 1 pastor pastor 22M Mar  4 23:43 part-00011-80595991-3c06-4e74-841c-db2ad8b2f2f7-c000.snappy.parquet

## Question 3:
Count records

How many taxi trips were there on June 15?

Consider only trips that started on June 15.

In [19]:
from pyspark.sql import functions as F

In [20]:
df = spark.read.parquet('fhvhv/2021/06/*')

In [21]:
df.registerTempTable('fhvhv')

In [22]:
spark.sql("""
SELECT
    COUNT(*)
FROM
    fhvhv
WHERE
    DATE(pickup_datetime) = '2021-06-15'
""").show()

+--------+
|count(1)|
+--------+
|  452470|
+--------+

## Question 4:
Longest trip for each day

Now calculate the duration for each trip.
How long was the longest trip in Hours?

In [23]:
from pyspark.sql.functions import col, asc,desc

In [24]:
df \
    .withColumn('duration_seconds', df.dropoff_datetime.cast('long')-df.pickup_datetime.cast('long')) \
    .orderBy(col('duration_seconds').desc()) \
    .show()

+-----------------+-------------------+-------------------+------------+------------+-------+----------------+
|hvfhs_license_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|duration_seconds|
+-----------------+-------------------+-------------------+------------+------------+-------+----------------+
|           B02872|2021-06-25 13:55:41|2021-06-28 08:48:25|          98|         265|      N|          240764|
|           B02765|2021-06-22 12:09:45|2021-06-23 13:42:44|         188|         198|      N|           91979|
|           B02879|2021-06-27 10:32:29|2021-06-28 06:31:20|          78|         169|      N|           71931|
|           B02800|2021-06-26 22:37:11|2021-06-27 16:49:01|         263|          36|      N|           65510|
|           B02682|2021-06-23 20:40:43|2021-06-24 13:08:44|           3|         247|      N|           59281|
|           B02869|2021-06-23 22:03:31|2021-06-24 12:19:39|         186|         216|      N|           51368|
|           B02877|2021-06-24 23:11:00|2021-06-25 13:05:35|         181|          61|      N|           50075|
|           B02765|2021-06-04 20:56:02|2021-06-05 08:36:14|          53|         252|      N|           42012|
|           B02617|2021-06-27 07:45:19|2021-06-27 19:07:16|         187|         245|      N|           40917|
|           B02880|2021-06-20 17:05:12|2021-06-21 04:04:16|         144|         231|      N|           39544|
|           B02866|2021-06-01 12:25:29|2021-06-01 22:41:32|          87|         265|      N|           36963|
|           B02882|2021-06-28 13:13:59|2021-06-28 23:11:58|          39|         131|      N|           35879|
|           B02510|2021-06-01 12:01:46|2021-06-01 21:59:45|          17|          37|      N|           35879|
|           B02510|2021-06-27 03:52:14|2021-06-27 13:30:30|          42|         242|      N|           34696|
|           B02510|2021-06-18 08:50:29|2021-06-18 18:27:57|          39|         216|      N|           34648|
|           B02510|2021-06-08 16:38:14|2021-06-09 02:07:03|         106|         102|      N|           34129|
|           B02800|2021-06-11 23:26:20|2021-06-12 08:54:38|         132|         140|      N|           34098|
|           B02510|2021-06-15 06:47:22|2021-06-15 16:11:30|         141|         232|      N|           33848|
|           B02510|2021-06-25 02:32:24|2021-06-25 11:56:01|          87|         145|      N|           33817|
|           B02764|2021-06-04 17:41:23|2021-06-05 03:04:00|          26|         238|      N|           33757|
+-----------------+-------------------+-------------------+------------+------------+-------+----------------+
only showing top 20 rows

In [28]:
# method 2
spark.sql("""
SELECT
    to_date(pickup_datetime) AS pickup_date,
    MAX((CAST(dropoff_datetime AS LONG) - CAST(pickup_datetime AS LONG)) / 3600) AS duration_hrs
FROM 
    fhvhv
WHERE
pickup_datetime IS NOT NULL AND dropoff_datetime IS NOT NULL
GROUP BY
    1
ORDER BY
    2 DESC
LIMIT 10;
""").show()

+-----------+------------------+
|pickup_date|      duration_hrs|
+-----------+------------------+
| 2021-06-25|  66.8788888888889|
| 2021-06-22|25.549722222222222|
| 2021-06-27|19.980833333333333|
| 2021-06-26|18.197222222222223|
| 2021-06-23|16.466944444444444|
| 2021-06-24|13.909722222222221|
| 2021-06-04|             11.67|
| 2021-06-20|10.984444444444444|
| 2021-06-01|           10.2675|
| 2021-06-28| 9.966388888888888|
+-----------+------------------+

In [12]:
spark.sql("""
SELECT
    * FROM fhvhv;
""").show()

+-----------------+--------------------+-------------------+----------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+----------------+------------+------------+-------+
|           B02800| 2021-06-03 23:23:52|2021-06-03 23:34:22|            null|         263|        null|   null|
|           B02875| 2021-06-04 22:31:29|2021-06-04 22:45:18|            null|         263|        null| B02875|
|           B02510| 2021-06-02 10:59:48|2021-06-02 11:21:47|            null|          17|        null|   null|
|           B02510| 2021-06-01 18:18:55|2021-06-01 19:05:58|            null|          14|        null|   null|
|           B02871| 2021-06-03 02:36:01|2021-06-03 02:51:21|            null|         225|        null| B02871|
|           B02765| 2021-06-01 18:26:00|2021-06-01 18:35:46|            null|         252|        null| B02765|
|           B02877| 2021-06-03 08:41:34|2021-06-03 09:03:20|            null|         119|        null| B02877|
|           B02872| 2021-06-02 05:36:28|2021-06-02 05:55:50|            null|         195|        null| B02872|
|           B02869| 2021-06-05 11:08:35|2021-06-05 11:30:20|            null|         170|        null| B02869|
|           B02510| 2021-06-05 03:06:17|2021-06-05 03:16:30|            null|          89|        null|   null|
|           B02510| 2021-06-04 10:40:29|2021-06-04 10:49:04|            null|         149|        null|   null|
|           B02887| 2021-06-03 14:36:12|2021-06-03 15:30:32|            null|          50|        null| B02887|
|           B02864| 2021-06-02 13:54:34|2021-06-02 15:49:11|            null|         265|        null| B02864|
|           B02510| 2021-06-02 23:03:47|2021-06-02 23:12:39|            null|         260|        null|   null|
|           B02765| 2021-06-01 22:25:13|2021-06-01 22:46:41|            null|         144|        null| B02765|
|           B02765| 2021-06-03 07:36:13|2021-06-03 08:05:34|            null|         262|        null| B02765|
|           B02510| 2021-06-03 14:33:59|2021-06-03 15:14:34|            null|          50|        null|   null|
|           B02876| 2021-06-05 00:51:56|2021-06-05 00:56:50|            null|         129|        null| B02876|
|           B02765| 2021-06-03 18:31:43|2021-06-03 18:44:40|            null|         234|        null| B02765|
|           B02875| 2021-06-03 22:41:57|2021-06-03 22:59:53|            null|           7|        null| B02875|
+-----------------+--------------------+-------------------+----------------+------------+------------+-------+
only showing top 20 rows

In [33]:
import pandas as pd
df_zones = spark.read.csv('')

In [39]:
df_zones = spark.read \
    .option("header", "true") \
    .csv('taxi+_zone_lookup.csv')

In [41]:
zpu = df_zones \
    .withColumnRenamed('Zone', 'PUzone') \
    .withColumnRenamed('LocationID', 'zPULocationID') \
    .withColumnRenamed('Borough', 'PUBorough') \
    .drop('service_zone')
zdo = df_zones \
    .withColumnRenamed('Zone', 'DOzone') \
    .withColumnRenamed('LocationID', 'zDOLocationID') \
    .withColumnRenamed('Borough', 'DOBorough') \
    .drop('service_zone')

In [49]:
df_join_temp = df.join(zpu, df.PULocationID == zpu.zPULocationID)
df_join = df_join_temp.join(zdo, df_join_temp.DOLocationID == zdo.zDOLocationID)

In [50]:
df_join.drop('PULocationID', 'DOLocationID', 'zPULocationID', 'zDOLocationID').write.parquet('tmp/homework/6')

In [53]:
df_join = spark.read.parquet('tmp/homework/6')
df_join

DataFrame[hvfhs_license_num: string, pickup_datetime: timestamp, dropoff_datetime: timestamp, SR_Flag: string, PUBorough: string, PUzone: string, DOBorough: string, DOzone: string]

In [54]:
df_join.registerTempTable('join_table')

/home/pastor/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

## Question 6:
Most frequent pickup location zone

Load the zone lookup data into a temp view in Spark
Zone Data

Using the zone lookup data and the fhvhv June 2021 data, what is the name of the most frequent pickup location zone?

- East Chelsea
- Astoria
- Union Sq
- Crown Heights North

In [59]:
spark.sql("""
SELECT
    PUzone,
    COUNT(1)
FROM
    join_table
GROUP BY
    1
ORDER BY
    2 DESC
LIMIT
    5
;
""").show()

+-------------------+--------+
|             PUzone|count(1)|
+-------------------+--------+
|Crown Heights North|  231279|
|       East Village|  221244|
|        JFK Airport|  188867|
|     Bushwick South|  187929|
|      East New York|  186780|
+-------------------+--------+